
body {
    font-family: 'Roboto', sans-serif;
}

/* Generic STYLE section */

button {
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}

body ul {
    list-style-type: none;
}

.container h1,
.container p {
    color: white;
}

/* Navbar STYLE section */

.navbar a {
    text-decoration: none; 
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #1F2937;
    color: white;
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: 400
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    justify-content: flex-end;
    gap: 30px;
    padding: 10px;
}

/* Header STYLE section */

.intro .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 50px;
    background-color: #1F2937;
}

.intro .left-side {
    display: flex;
    flex-direction: column;
    width: 900px
}

.intro .container p {
    font-size: 24px;
}

.intro .container h1 {
    font-size: 48px;
}

/* Cards STYLE section */

.cards .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card-list img {
    width: 300px;
    height: 300px;
    border: 10px;
    border-radius: 10px;
    border-color: #3882F6;
    border-style: solid;
}

/* Quote STYLE section */

.quote{
    background-color: #E5E7EB;
}

.quote .container {
    display: flex;
    font-size: 24px;
    flex-direction: column;
    justify-self: center;
    padding: 30px;
}

.quote blockquote {
    width: 900px;
}

.quote h5 { 
    margin-left: auto;
}

/* Action STYLE section */

.action {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    gap: 50px;
    background-color: #3882F6;
    color: white;
    flex: auto;
    padding: 50px;
    width: 1000px;
}

.action .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.action button {
    border-width: 5px;
    border-color: white;
}

/* Footer STYLE section */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    color: white;
    background-color: #1F2937;
    height: 100px;
}