
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #1F2937;
    color: white;
    font-size: 36px;
    font-weight: 400
}

.header ul {
    display: flex;
    gap: 20px;
}

.card-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.cards ul {
    list-style-type: none;
}

.card-list img {
    width: 300px;
    height: 300px;
    border: 10px;
    border-radius: 10px;
    border-color: blue;
    border-style: solid;
}

.quote {
    background-color: #E5E7EB;
}